<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-textarea
    [(ngModel)]="toDoTitle"
    placeholder="Enter your todo..."
    [autoGrow]="true"
  ></ion-textarea>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="onSubmit()">
    <ion-fab-button><ion-icon name="save"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
